@model Product
<div style="display:flex; flex-direction:column">
<div >

        <div style="display:flex;flex-direction:row">
    <img class="Image" src="~/@Model.Image" />
            <div style="display:flex; flex-direction:column">
                <h3>@Model.Name</h3>  
                <p> Price: @Model.Price $ </p>
            </div>

    </div>
        <span>@Model.Description</span>
<form id=@Model.Id asp-action=AddToCart asp-controller="Cart" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" name="returnUrl" value=@ViewContext.HttpContext.Request.PathAndQuery() />
    <span class="lead">
        <button type="submit" class="btn btn-success btn-sm pull-right">
            Add to Cart
        </button>
    </span>

</form>
    </div>
<form  asp-action="AddReview" asp-controller="Product" method="post">
    <div >
        <input type="hidden" name="productId" value="@Model.Id" />
        <label>Enter Review </label>
        <input type="text" name="newReview" />
        <button type="submit"> Add Review </button>
    </div>

</form>


@foreach (var item in Model.Reviews.OrderBy(i=>i.InsertedDate))
{
   <div>
       <span>@item.ReviewText</span>
   </div>
}
</div>
</div>